{% extends "base.html" %}

{% block title %}Request Password Reset - Alphard{% endblock %}

{% block content %}
    <div class="flex justify-center mt-24 mb-24">
    <form method="post" class="w-96 flex flex-col items-center space-y-4 p-8 border border-gray-100 shadow">
        <div class="font-[Charm] font-bold text-4xl pb-2">Alphard</div>

        {% csrf_token %}

        <div class="w-full flex flex-col space-y-2 floating-label">
            <span>Email address</span>
            <input
                name="email"
                placeholder="Email address"
                value="{{ form.email.value|default:'' }}"
                autocomplete="email"
                maxlength="254"
                class="input"
                required
            />
            {% for error in form.email.errors %}
            <div class="alert alert-error">
                {% include "components/icons/error.svg" %}
                {{ error }}
            </div>
            {% endfor %}
        </div>

        {% if form.non_field_errors or success %}
        <div class="flex flex-col space-y-2">
            {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                {% include "components/icons/error.svg" %}
                {{ error }}
            </div>
            {% endfor %}
            <div class="alert alert-success">
                {% include "components/icons/success.svg" with size='22px' %}
                We’ve sent a password reset link to your inbox.
            </div>
        </div>
        {% endif %}

        <button type="submit" class="w-full btn btn-neutral">
            Request Password Reset
        </button>
    </form>
    </div>
{% endblock %}
