{% extends "base.html" %}

{% block title %}Request Password Reset - Alphard{% endblock %}

{% block content %}
  <div class="flex justify-center items-center h-screen">
    <form method="POST" class="w-72 flex flex-col space-y-4.5">
      <div class="text-center font-[Charm] text-4xl pb-2">Alphard</div>
      {% csrf_token %}
      <div class="flex flex-col space-y-2 floating-label">
        <span>Email</span>
        <input placeholder="Email" name="email" value="{{ form.email.value|default:"" }}" autocomplete="email" maxLength="254" class="input" autofocus required>
        {% for error in form.email.errors %}
          <div class="alert alert-error">
            {% include "icons/error.svg" %}
            {{ error }}
          </div>
        {% endfor %}
      </div>
      {% if form.non_field_errors %}
        <div class="flex flex-col space-y-1">
          {% for error in form.non_field_errors %}
            <div class="alert alert-error">
              {% include "icons/error.svg" %}
              {{ error }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="flex flex-col space-y-2">
        <button type="submit" class="btn btn-neutral">Request Reset</button>
        <a href="{% url "sign_in" %}" class="btn">Back to Sign In</a>
      </div>
    </form>
  </div>
{% endblock %}
