{% extends "base.html" %}

{% block title %}
  {% if user.full_name %}{{ user.full_name }}{% else %}u/{{ user.username }}{% endif %} - Alphard
{% endblock %}

{% block content %}
  {% include "navbar.html" %}

  <div class="flex justify-center">
    <div class="w-sm sm:w-lg md:w-2xl lg:w-4xl xl:w-6xl">
      <div class="flex flex-col lg:flex-row items-center p-10">
        <div class="avatar pb-15 lg:pb-0 lg:pr-15">
          <img src="{{ user.avatar.url }}" alt="{{ user.full_name|default:user.username }}" class="w-56 h-56 object-cover rounded-full ring-3 ring-offset-3 ring-neutral-200">
        </div>
        <div class="flex flex-col space-y-0.5 max-w-full">
          <div class="text-5xl leading-16 truncate max-w-full lg:max-w-[20ch]">
            {% if user.full_name %}
              {{ user.full_name }}
            {% else %}
              u/{{ user.username }}
            {% endif %}
          </div>
          {% if user.full_name %}
            <div class="text-2xl text-gray-600 truncate max-w-full lg:max-w-[35ch]">
              u/{{ user.username }}
            </div>
          {% endif %}
          <div class="text-gray-500 text-sm pt-1.5">
            Joined {{ user.date_joined }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
