services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 --workers 3 alphard.wsgi:application
    volumes:
      - media_data:/usr/src/app/media
    env_file:
      - ./.env.production
    secrets:
      - django_secret_key
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery --app=alphard worker --loglevel=info
    env_file:
      - ./.env.production
    depends_on:
      - redis
      - db
      - web

  celery_beat:
    build: .
    command: celery --app=alphard beat --loglevel=info
    env_file:
      - ./.env.production
    depends_on:
      - redis
      - db
      - web

  redis:
    image: redis:8-bookworm
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  db:
    image: postgres:17.6-bookworm
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=alphard
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
      - POSTGRES_DB=alphard

  nginx:
    image: nginx:1.28.0-bookworm
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - media_data:/usr/src/app/media

secrets:
  django_secret_key:
    external: true
  db_password:
    external: true

volumes:
  postgres_data:
  media_data:
  redis_data:
